<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${logs.dir}/applogs/ws-health-check/serviceLogs.log" />
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="LevelToMatch" value="ERROR" />
			<param name="AcceptOnMatch" value="False" />
		</filter>
		<param name="DatePattern" value="'.'dd-MM-yyyy"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MM-yyyy HH:mm:ss} %-5p [%X{uuid}] [%c:%L] - %m%n" />
		</layout>
	</appender>

	<appender name="errorFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${logs.dir}/applogs/ws-health-check/errorLogs.log" />
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="True" />
		</filter>
		<param name="DatePattern" value="'.'dd-MM-yyyy"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd-MM-yyyy HH:mm:ss} %-5p [%X{uuid}] [%c:%L] - %m%n" />
		</layout>
	</appender>


	<!-- 3rdparty Loggers -->
	<!-- <logger name="org.springframework.core">
		<level value="NONE" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="NONE" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.context">
		<level value="NONE" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.web">
		<level value="NONE" />
		<appender-ref ref="console" />
	</logger> -->

	<!-- Root Logger -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="file" />
		<appender-ref ref="errorFile" />
	</root>

</log4j:configuration>
